:root {
    --qc-black-dark: #3B3B3B;
    --qc-black-medium: #8B8B8B;
    --qc-black-light: #D4D4D4;
    --qc-grey-dark: #343C47;
    --qc-grey-medium: #7F8C9F;
    --qc-grey-light: #ECEEF1;
    --qc-green-dark: #1C431D;
    --qc-green-medium: #409D44;
    --qc-green-light: #D9F5DA;
    --qc-blue-dark: #003F5E;
    --qc-blue-medium: #1993D0;
    --qc-blue-light: #B1DBEF;
    --qc-purple-dark: #3B3562;
    --qc-purple-medium: #7A82E3;
    --qc-purple-light: #EBEDFC;
    --qc-orange-dark: #4B3815;
    --qc-orange-medium: #AA8630;
    --qc-orange-light: #FECF48;
    --sc-white: #FFFFFF;
  }
fieldset {
    border: 3px solid var(--qc-green-medium) !important;
}
fieldset > fieldset {
    border: 3px solid var(--qc-green-medium) !important;
    margin: 1em !important;
}

fieldset::before {
    content: "A fieldset element is present" !important;
    position: relative !important;
    z-index: 1000 !important;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 1rem !important;
    color: var(--qc-green-medium) !important;
    font-weight: 700;
}
fieldset > fieldset::before {
    content: "A nested fieldset element is present" !important;
    position: relative !important;
    z-index: 1000 !important;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 1rem !important;
    color: var(--qc-green-medium) !important;
    font-weight: 700;
}

legend {
    border: 3px solid var(--qc-purple-medium) !important;
}

fieldset>legend::before {
    content: "A fieldset element is named with a legend" !important;
    z-index: 1000 !important;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: var(--qc-purple-medium) !important;
    font-weight: 700;
    padding: 0.25em !important;
    display: block !important;
    font-size: 1rem !important;
}

[role="group"] {
    border: 3px solid var(--qc-purple-medium) !important;
}

[role="group"]::before {
    content: "Role [GROUP] wraps this content" !important;
    position: relative !important;
    z-index: 1000 !important;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: var(--qc-purple-medium) !important;
    font-weight: 700;
    font-size: 1.3em !important;
}

[role="radiogroup"] {
    border: 3px solid var(--qc-orange-light) !important;
}

[role="radiogroup"]::before {
    content: "Role [RADIOGROUP] wraps this content" !important;
    position: relative !important;
    z-index: 1000 !important;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: var(--qc-orange-light) !important;
    font-weight: 700;
    font-size: 1.3em !important;
}

[aria-labelledby]:after {
    display: table !important;
    padding: 5px !important;
    height: auto !important;
    width: auto !important;
    position: relative !important;
    padding: 0.25em 0.8em !important;
    z-index: 10000 !important;
    background-color: var(--qc-black-dark) !important;
    color: var(--qc-orange-light) !important;
    font-size: .9rem !important;
    font-weight: 900;
    content: "[HAS a name] aria-labelledby=" attr(aria-labelledby)" " !important;
}