@import '../common';

.missing-role-group-name-5599775,
.legend-not-first-child-5599775,
.legend-no-parent-fieldset-5599775,
.legend-no-text-5599775 {
  @include important-styles((border: 4px ridge var(--warning-border),
      font-weight: 700,
      padding: 0.5em,
    ),
    true);
  @include warning-styles;
  @include font-styling;
  @include messageDisplayStyles;
}

.missing-role-radio-group-name-5599775 {
  @include important-styles((border: 4px ridge var(--danger-border),
      font-weight: 700,
      padding: 0.5em,
    ),
    true);
  @include danger-styles;
  @include font-styling;
}

.legend-present-5599775.not-first-number5599775 {
  @include important-styles((font-weight: 700,
      padding: 0.5em,
    ),
    true);
  @include warning-styles;
  @include font-styling;
}

.fieldset-present-5599775 {
  @include important-styles((border: 4px dashed var(--neutral-border),
      padding: 0.5em,
      font-weight: 700,
    ),
    true);
    @include font-styling;
}

[data-fieldset-present-5599775] {
  @include important-styles((border: 4px dashed var(--neutral-border),
      padding: 0.5em,
    ),
    true);
    @include font-styling;
}

.nested-fieldset-present-5599775 {
  @include important-styles((border: 3px dotted var(--neutral-border),
      padding: 0.5em,
      font-weight: 700,
    ),
    true);
    @include font-styling;
}

[data-nested-fieldset-present-5599775] {
  @include important-styles((border: 3px dotted var(--neutral-border),
      margin: 1em,
    ),
    true);
    @include font-styling;
}

.legend-present-5599775 {
  @include important-styles((background-color: var(--neutral-background),
      border: 3px solid var(--neutral-border),
      padding: 0.5em,
      font-weight: 700,
    ),
    true);
    @include font-styling;
}

[data-legend-present-5599775] {
  @include important-styles((border: 3px solid var(--neutral-border),
      padding: 0.5em,
    ),
    true);
}

[role="group"] {
  @include important-styles((border: 3px inset var(--neutral-border),
      padding: 0.5em,
    ),
    true);
}

.group-present-5599775 {
  @include important-styles((border: 3px inset var(--neutral-border),
      padding: 0.5em,
      font-weight: 700,
    ),
    true);
    @include font-styling;
}

[role="radiogroup"] {
  @include important-styles((border: 3px outset var(--neutral-border),
      padding: 0.5em,
      font-weight: 700,
    ),
    true);
}

.radiogroup-present-5599775 {
  @include important-styles((border: 3px outset var(--neutral-border),
      padding: 0.5em,
      font-weight: 700,
    ),
    true);
    @include font-styling;
}

.labelled-by-name-5599775,
.labelled-by-radio-group-name-5599775,
.aria-label-radio-group-name-5599775,
.aria-label-name-5599775,
.legend-first-child-5599775 {
  @include important-styles((border: 3px ridge var(--pass-border),
      font-weight: 700,
      padding: 0.5em,
    ),
    true);
  @include pass-styles;
  @include font-styling;
}