@import "../common";

.valid-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--pass-border),
      margin: 1em 0,
      margin-bottom: 0,
    ),
    true
  );
}

.valid-message-9927845 {
  font-weight: 700;
  margin: 0;
  
  @include message-container(
    var(--pass-background),
    var(--pass-border),
    var(--pass-text)
  );
  @include flex-width-container;
  @include messageDisplayStyles;
}

.invalid-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--danger-border),
      margin: 1em 0,
      margin-bottom: 0,
    ),
    true
  );
}

.invalid-message-9927845 {
  font-weight: 700;
  margin: 0;
  
  @include message-container(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
  @include flex-width-container;
  @include messageDisplayStyles;
}

.warning-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--warning-border),
      margin: 1em 0,
      margin-bottom: 0,
    ),
    true
  );
}

.warning-message-9927845 {
  font-weight: 700;
  margin: 0;
  
  @include message-container(
    var(--warning-background),
    var(--warning-border),
    var(--warning-text)
  );
  @include flex-width-container;
  @include messageDisplayStyles;
}

.generic-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--neutral-border),
      margin: 1em 0,
      margin-bottom: 0,
    ),
    true
  );
}

.generic-message-9927845 {
  font-weight: 700;
  margin: 0;
  
  @include message-container(
    var(--neutral-background),
    var(--neutral-border),
    var(--neutral-text)
  );
  @include flex-width-container;
  @include messageDisplayStyles;
}

.tabindex-0-detected-9927845 {
    @include important-styles(
      (
        border: 2px dashed var(--warning-border),
        margin: 1em 0,
        margin-bottom: 0,
      ),
      true
    );
  }

  .top-right-container-9927845 {
    font-family: Aptos, Bierstadt, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    position: fixed;
    max-width: 20em;
    top: 10px;
    right: 10px;
    margin: 10px;
    background-color: var(--warning-background);
    border: 4px solid var(--warning-border);
    color: var(--warning-text);
    padding: 1em;
    z-index: 2147483647;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
    ul.reference-list-9927845{
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
  
  .dismiss-button-9927845 {
    color: var(--extension-white);
    background-color: var(--warning-border);
    border: none;
    border-radius: 1em;
    margin-top:1em;
    padding: 0.5em 1em;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .dismiss-button-9927845:hover {
    background-color: var(--warning-border);
  }
  
  .dismiss-button-9927845:focus {
    outline: none;
  }
  
  .dismiss-button-9927845:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px var(--white), 0 0 0 5px var(--neutral-border);
  }
  
  .hyperlinked-text-9927845 {
    @include important-styles((
      display:block,
      margin-top:1em,
      text-decoration: underline,
      color: var(--neutral-text),
    ), true);
  }