
.DS_Store
Safari/A11y Quick Check/A11y Quick Check.xcodeproj/project.xcworkspace/xcuserdata
Safari/A11y Quick Check/A11y Quick Check.xcodeproj/xcuserdata
Firefox
FirefoxBundle
Safari/WebExtension
ChromeBundle
WebExtension/node_modules
ChromeExtension
# Ignore Visual Studio Code settings
.vscode/*