:root {
    --qc-black-dark: #3B3B3B;
    --qc-black-medium: #8B8B8B;
    --qc-black-light: #D4D4D4;
    --qc-grey-dark: #343C47;
    --qc-grey-medium: #7F8C9F;
    --qc-grey-light: #ECEEF1;
    --qc-green-dark: #1C431D;
    --qc-green-medium: #409D44;
    --qc-green-light: #D9F5DA;
    --qc-blue-dark: #003F5E;
    --qc-blue-medium: #1993D0;
    --qc-blue-light: #B1DBEF;
    --qc-purple-dark: #3B3562;
    --qc-purple-medium: #7A82E3;
    --qc-purple-light: #EBEDFC;
    --qc-orange-dark: #4B3815;
    --qc-orange-medium: #AA8630;
    --qc-orange-light: #FECF48;
    --sc-white: #FFFFFF;
  }