.alt-text-message {
	background: #C2FFC2 !important;
	border: 2px solid green !important;
	bottom: 0.5em;
	color: #262626 !important;
	font-size: 1rem !important;
	left: 0.5em;
	line-height: 1.5 !important;
	opacity: 0.8 !important;
	padding: 0.5em !important;
	width: 12em !important;
	z-index: 10000 !important;
}