@import '../common';

@mixin OrderedList($backgroundColor, $borderColor, $textColor) {
  @include important-styles(
    (
      background-color: $backgroundColor,
      color: $textColor,
      border: 3px dashed $borderColor,
      font-size: 1rem,
      padding: 0.5em,
      max-width: 15em
    ),
    true
  ); 
}

.valid-html-ordered-list{
  @include important-styles(
    (
      border: 2px dashed var(--pass-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.div-child-message,
.div-inside-message{
  @include important-styles(
    (
      border-width: 2px,
      border-style: dashed,
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
  @include OrderedList(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
}

.ordered-list-c34fac2 { 
  @include important-styles(
    (
      border: 2px dashed var(--pass-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.html-ol-message {
  @include important-styles(
    (
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
  @include OrderedList(
    var(--pass-background),
    var(--pass-border),
    var(--pass-text)
  );
} 

.ordered-list-div-child {
  @include important-styles(
    (
      border: 2px dashed var(--danger-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.invalid-list-c34fac2 {
  @include important-styles(
    (
      border: 2px dashed var(--danger-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.ordered-list-div-inside {
  @include important-styles(
    (
      border: 2px dashed var(--danger-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.invalid-ol-c34fac2 {
  @include important-styles(
    (
      border: 2px dashed var(--danger-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.ol--invalid-children-8892664 {
  @include important-styles(
    (
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
  @include OrderedList(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
}