@import "../common";

.valid-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--pass-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.valid-message-9927845 {
  @include important-styles(
    (
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );

  max-width: 15em;

  @include message-container(
    var(--pass-background),
    var(--pass-border),
    var(--pass-text)
  );
  @include flex-width-container;
}

.warning-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--warning-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.warning-message-9927845 {
  @include important-styles(
    (
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );

  max-width: 15em;

  @include message-container(
    var(--warning-background),
    var(--warning-border),
    var(--warning-text)
  );
  @include flex-width-container;
}

.invalid-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--danger-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.invalid-message-9927845 {
  @include important-styles(
    (
      border-width: 2px,
      border-style: dashed,
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );

  max-width: 15em;

  @include message-container(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
  @include flex-width-container;
}

.top-right-container-9927845 {
  max-width:30em !important;
}