@import "../common";

@mixin headingGroup($backgroundColor, $borderColor, $textColor) {
  @include important-styles(
    (
      background-color: $backgroundColor,
      color: $textColor,
      display: inline-block,
      border: 3px solid $borderColor,
      font-size: 0.9em,
      margin: 1em 0,
      margin-bottom: 0,
      padding: 0.5em,
    ),
    true
  );
}

.html-header-message-88937746,
.html-nav-message-88937746,
.html-main-message-88937746,
.html-footer-message-88937746,
.html-aside-message-88937746 {
  font-weight: bold;
  @include headingGroup(
    var(--pass-background),
    var(--pass-border),
    var(--pass-text)
  );
}

.aria-banner-message-88937746,
.aria-navigation-message-88937746,
.aria-main-message-88937746,
.aria-contentinfo-message-88937746,
.aria-complementary-message-88937746 {
  font-weight: bold;
  @include headingGroup(
    var(--warning-background),
    var(--warning-border),
    var(--warning-text)
  );
}

.roleWarning-83009276 {
  color: var(--warning-text) !important;
}

.html-aria-duplicate-header-message-88937746,
.html-aria-duplicate-nav-message-88937746,
.html-aria-duplicate-main-message-88937746,
.html-aria-duplicate-footer-message-88937746,
.html-aria-duplicate-aside-message-88937746 {
  font-weight: bold;
  @include headingGroup(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
}

.html-aria-duplicate-header-message-88937746,
.html-aria-duplicate-nav-message-88937746,
.html-aria-duplicate-main-message-88937746,
.html-aria-duplicate-footer-message-88937746,
.html-aria-duplicate-aside-message-88937746 {
  font-weight: bold;
  @include headingGroup(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
}

.header--aria-html-88937746,
.nav--aria-html-88937746,
.main--aria-html-88937746,
.footer--aria-html-88937746,
.aside--aria-html-88937746 {
  @include important-styles(
  (
    border: 4px dashed var(--warning-border),
    padding: 1em,
  ),
  true
);
}

.header--aria--88937746,
.header--html--88937746,
.nav--aria--88937746,
.nav--html--88937746,
.main--aria--88937746,
.main--html--88937746,
.footer--aria--88937746,
.footer--html--88937746,
.aside--aria--88937746,
.aside--html--88937746 {
  @include important-styles(
  (
    border: 4px dashed var(--pass-border),
    padding: 1em,
  ),
  true
);
}