@import "../common";

.display-none-45865 {
  @include important-styles(
    (
      border: 2px dashed var(--pass-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.display-none-45865::before {
  content: "This element is hidden with 'display: none'";
  color: var(--warning-text);
  font-size: 1rem;
  font-weight: 700;
}

.visibility-hidden-45865 {
  @include important-styles(
    (
      border: 2px dashed var(--pass-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.visibility-hidden-45865::before {
  content: "This element is hidden with 'visibility: hidden'";
  color: var(--warning-text);
  font-size: 1rem;
  font-weight: 700;
}

.opacity-zero-45865 {
  @include important-styles(
    (
      border: 2px dashed var(--pass-border),
      margin-bottom: 0,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
}

.opacity-zero-45865::before {
  content: "This element is hidden with 'opacity: 0'";
  color: var(--warning-text);
  font-size: 1rem;
  font-weight: 700;
}
