/* General message styles */
[class$="-776553"]{
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FF0000;
  background-color: #FFE6E6;
  border: 1px solid #FF0000;
  border-radius: 3px;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.container-776553{
  background:#edeaea;
  border: 1px solid #807979;
  border-radius: 1em;
}