@import '../common';

@mixin heading-decoration($heading-level) {
  #{$heading-level}:before, [role="heading"]:before {
    @include important-styles((
      content: "<#{$heading-level}>",
      font-size: 0.875em,
      padding: 0.5em,
      margin-right: .25em,
      font-weight: 700,
      color: var(--pass-text),
      border: 3px dashed var(--neutral-border)
    ), true);
  }

  #{$heading-level}:after, [role="heading"]:after {
    @include important-styles((
      content: "</#{$heading-level}>",
      font-size: 0.875em,
      padding: 0.5em,
      margin-left: .25em,
      font-weight: 700,
      color: var(--pass-text),
      border: 3px dashed var(--neutral-border)
    ), true);
  }
}

@mixin aria-heading-decoration($heading-level) {
  [role="heading"]::before {
    @include important-styles((
      content: "[ARIA]"
    ), true);
  }

  [role="heading"]::after {
    @include important-styles((
      content: "[END]"
    ), true);
  }
}

@mixin heading-background-border($heading-level, $background, $border) {
  #{$heading-level} .headingWrapper-8878, [role="heading"] .headingWrapper-8878 {
    @include important-styles((
      background-color: $background,
      border: $border,
      font-size: inherit,
    ), true);
  }
}

.aria-skipped-level-555897,
.aria-level-missing-555897,
.redundant-aria-role-555897,
.changed-aria-level-555897,
.aria-missing-level-555897,
.skipped-level-555897 {
  @include important-styles((
      margin-top:0.5em,
    ), true);
}

.skipped-level-message-555897,
.aria-skipped-level-message-555897,
.aria-level-missing-message-555897,
.redundant-aria-role-message-555897,
.changed-aria-level-message-555897,
.aria-missing-level-message-555897 {
  @include important-styles((
      background-color: var(--warning-background),
      border: 3px dashed var(--warning-border),
      color: var(--warning-text),
      max-width: 333px,
    ), true);
}

// Apply mixins
@for $i from 1 through 6 {
  @include heading-decoration('h' + $i);
  @include aria-heading-decoration($i);
}

@include heading-background-border('h1', var(--extension-white), 2px dashed var(--neutral-border));
@include heading-background-border('h2', var(--extension-white), 2px dashed var(--neutral-border));
@include heading-background-border('h3', var(--extension-white), 2px dashed var(--neutral-border));
@include heading-background-border('h4', var(--extension-white), 2px dashed var(--neutral-border));
@include heading-background-border('h5', var(--extension-white), 2px dashed var(--neutral-border));
@include heading-background-border('h6', var(--extension-white), 2px dashed var(--neutral-border)); 