/* Default styles for hgroup elements */
.hgroup-58997365 {
  margin: 1em 0 !important;
  border: 2px solid  #235123 !important;
}

.html-hgroup-message-58997365 {
  color: #235123 !important;
  font-size: 0.9em !important;
  font-style: italic !important;
  border: 2px solid #235123 !important;
  margin: 1em 0 !important;
  padding: 0.5em !important;
}

.aria-hgroup-message-58997365 {
  color: #235123 !important;
  font-size: 0.9em !important;
  font-weight: bold !important;
  border: 2px solid #235123 !important;
  margin: 1em 0 !important;
  padding: 0.5em !important;
}