@import "../common";

.hgroup-58997365 {
  margin: 1em 0 !important;
  border: 2px solid var(--pass-border) !important;
}

.html-hgroup-message-58997365 {
  font-weight: 700;
  margin: 0;
  white-space: normal;
  
  @include message-container(
    var(--neutral-background),
    var(--neutral-border),
    var(--neutral-text)
  );
  @include flex-width-container;
  @include messageDisplayStyles;
}

.aria-hgroup-message-58997365 {
  font-weight: 700;
  margin: 1em 0;

  @include message-container(
    var(--pass-background),
    var(--pass-border),
    var(--pass-text)
  );
  @include flex-width-container;
}

.missing-heading-message-58997365 {
  font-weight: 700;
  margin: 1em 0;

  @include message-container(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
  @include flex-width-container;
}
