/*
div:not([role])[aria-label][data-name-prohibited-aria],
span:not([role])[aria-label][data-name-prohibited-aria],
*[aria-label][data-name-prohibited-aria] {
    background-color:lightpink!Important !important
    width:auto !important;
}
*/

*[aria-label][data-name-prohibited-aria]::after {
    display: table !important;
    height: auto !important;
    width: auto !important;
    position: relative !important;
    padding: 1px 0 !important;
    background-color: #FFFFE5 !important;
    border-bottom: 2ps solid red !important;
    color: red !important;
    font-size: .9rem !important;
    font-weight: 900 !important;
    content: " [Invalid] aria-label cannot be used on "attr(data-name-prohibited-aria) " " !important;
}

/*
div:not([role])[aria-labelledby][data-name-prohibited-aria],
span:not([role])[aria-labelledby][data-name-prohibited-aria],
*[aria-labelledby][data-name-prohibited-aria] {
    background-color:lightpink!Important !important;
    width:auto !important;
}
*/

*[aria-labelledby][data-name-prohibited-aria]::after {
    display: table !important;
    height: auto !important;
    width: auto !important;
    position: relative !important;
    padding: 1px 0 !important;
    background-color: #FFFFE5 !important;
    border-bottom: 2ps solid red !important;
    color: red !important;
    font-size: .9rem !important;
    font-weight: 900 !important;
    content: " [Invalid] aria-labelledby cannot be used on "attr(data-name-prohibited-aria) " " !important;
}

/*
div:not([role])[aria-label][data-name-prohibited-html],
span:not([role])[aria-label][data-name-prohibited-html],
*[aria-label][data-name-prohibited-html] {
    background-color:lightpink!Important !important;
    width:auto !important;
}
*/

*[aria-label][data-name-prohibited-html]::after {
    display: table !important;
    height: auto !important;
    width: auto !important;
    position: relative !important;
    padding: 1px 0 !important;
    background-color: #FFFFE5 !important;
    border-bottom: 2ps solid red !important;
    color: red !important;
    font-size: .9rem !important;
    font-weight: 900 !important;
    content: " [Invalid] aria-label cannot be used on HTML element "attr(data-name-prohibited-html) " " !important;
}

/*
div:not([role])[aria-labelledby][data-name-prohibited-html],
span:not([role])[aria-labelledby][data-name-prohibited-html],
*[aria-labelledby][data-name-prohibited-html] {
    background-color:lightpink!Important !important;
    width:auto !important;
}
*/

*[aria-labelledby][data-name-prohibited-html]::after {
    display: table !important;
    height: auto !important;
    width: auto !important;
    position: relative !important;
    padding: 1px 0 !important;
    background-color: #FFFFE5 !important;
    border-bottom: 2ps solid red !important;
    color: red !important;
    font-size: .9rem !important;
    font-weight: 900 !important;
    content: " [Invalid] aria-labelledby cannot be used on HTML element "attr(data-name-prohibited-html) " " !important;
}
