:root {
  --purple-900: #4338ca;
  --purple-700: #5941a9;
  --purple-500: #7b61c4;
  --purple-300: #a886e5;
  --purple-100: #d3beff;
  --neutral-background: #d3beff;
  --nav-background: #a5a5a5;
  --neutral-border: #5941a9;
  --neutral-text: #07011c;
}
body {
  font-family: Aptos, Bierstadt, "Segoe UI", -apple-system, BlinkMacSystemFont,
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size:1rem;
}

.outer-container {
  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
}

p {
  margin-bottom: 1em;
}

header {
  grid-area: header;
  background-color: var(--neutral-background);
  padding: 0.625em 0;
  display: flex;
  justify-content: space-between;

  .a11yqc-logo img {
   // Applied when viewport is greater than 320px
    @media (width >= 321px) {
      max-width: 100%;  // make it responsive
      height: auto;  // maintain aspect ratio
      height: 100px;  // set height
    }
  }

  h1{
    margin-left: 1em;
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0 1em;
    margin-top:0;
  }

  p {
    font-size: 1rem;
    margin: 0 1em;
    margin-left: 2.2em;
  }
}

footer ul {
  list-style: none;
}

.navigation {
  grid-area: navigation;

  nav {
    background-color: var(--nav-background);
    border-bottom: 1px solid var(--neutral-border);

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0.5em 0;
      display: flex;
      justify-content: center;

      li {
        margin: 0 0.625em;

        a {
          font-size: 1rem;
          color: var(--neutral-text);
          text-align: center;
          padding: 0.875em 1em;
          text-decoration: none;

          &:hover,
          &:focus-visible {
            background-color: var(--neutral-border);
            color: white;
          }
        }
      }
    }
  }
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.625em 0;
}

#content {
  border: 1px solid var(--neutral-border);
  color: var(--neutral-text);
  padding: 1em;
}

h3.ref-links-header {
  margin-bottom: 0;
}

.h2-class {
  color: var(--neutral-text);
  margin-bottom: 0;
}

h3 {
  color: var(--neutral-text);
  margin-bottom: 1em;
}

details {
  margin-bottom: 1em;
  border: 1px solid var(--purple-300);
  border-radius: 0.5em;
  background: var(--white);
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.2);
  
  & > *:not(summary) {
    padding-left: 0.9375em;
  }

  & > ul:not(summary) {
    padding-left: 3em;
  }
}

summary {
  display: flex;
  align-items: center;
  padding: 0.9375em;
  cursor: pointer;
  list-style: none;
  color: var(--black);
  background-color: var(--purple-100);
  border-bottom: 1px solid var(--purple-300);
  outline: none;
  border-radius: 0.5em 0.5em 0 0;

  &:hover {
    background-color: var(--purple-300);
  }

  &:focus-visible {
    //background-color: var(--purple-300);
    outline-style: outset;
    outline-color: var(--purple-700);
  }

  &::-webkit-details-marker {
    display: none;
  }
  
  h2 {
    margin: 0;
    padding: 0 0 0 2em; /* Adjust left padding to prevent overlap with icon */
    font-size: 1.5rem;
    line-height: 1.2;
    flex-grow: 1;
  }
  h2 {
    margin: 0;
    padding: 0 0 0 2em; /* Adjust left padding to prevent overlap with icon */
    font-size: 1.2rem;
    line-height: 1.2;
    flex-grow: 1;
  }
}

summary::before {
  content: "+";
  margin-right: 1em; /* Space between icon and text */
  font-size: 1.5rem;
  line-height: 0.5;
}

details[open] > summary::before {
  content: "−";
}