@import '../common';

@mixin descriptionList($backgroundColor, $borderColor, $textColor) {
  @include important-styles((
    font-size: 0.9em,
    padding: 0.5em,
    background-color: $backgroundColor,
    color: $textColor,
    border: 3px solid $borderColor,
  ), true);
}

.dl--valid-html-9927845,
.dl--valid-div-wrap-dt-dd-9927845,
.dl-valid-div-wrap-dt-dd-9927845,
.dl-valid-html-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--pass-border),
      margin-bottom: 0,
      padding: 1em,
    ),
    true
  );
}

.html-dl-message-9927845,
.dl-div-wrap-message-9927845,
.div-wrap-message-9927845 {
  @include important-styles(
    (
      border-width: 2px,
      border-style: dashed,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
  @include descriptionList(
    var(--pass-background),
    var(--pass-border),
    var(--pass-text)
  );
}

.dl--single-dt-dd-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--warning-border),
      margin-bottom: 0,
      padding: 1em,
    ),
    true
  );
}

.single-dt-dd-message-9927845 {
  @include important-styles(
    (
      border-width: 2px,
      border-style: dashed,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
  @include descriptionList(
    var(--warning-background),
    var(--warning-border),
    var(--warning-text)
  );
}

.dl--invalid-first-child-9927845,
.dl--invalid-role-9927845,
.dl--nested-9927845,
.dl-invalid-childelement-9927845,
.dl--invalid-child-9927845,
.dl--invalid-childelement-9927845,
.dl--invalid-dd-9927845,
.dl-invalid-child-9927845,
.dl-invalid-role-9927845,
[data-isNestedList] {
  @include important-styles(
    (
      border: 2px dashed var(--danger-border),
      margin-bottom: 0,
      padding: 1em,
    ),
    true
  );
}

.invalid-first-child-message-9927845,
.invalid-role-message-9927845,
.nested-dl-message-9927845,
.invalid-child-message-9927845,
.invalid-dd-message-9927845 {
  @include important-styles(
    (
      border-width: 2px,
      border-style: dashed,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
  @include descriptionList(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
}