/* Styles for description lists */
dl {
  margin: 1em 0;
  border: 2px solid #5f0927;
}

/* Styles for HTML description list messages */
.html-dl-message {
  color: #5f0927;
  font-size: 0.9em;
  font-style: italic;
  border: 2px solid #5f0927;
  margin: 1em 0;
  padding: 0.5em;
}

/* Styles for ARIA description list messages */
.aria-dl-message {
  color: #555;
  font-size: 0.9em;
  font-weight: bold;
  border: 2px solid #5f0927;
  margin: 1em 0;
  padding: 0.5em;
}
