@import "../common";

.valid-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--pass-border),
      margin-bottom: 0,
      padding: 1em,
    ),
    true
  );
}

.valid-message-9927845 {
  @include important-styles(
    (
      border-width: 2px,
      border-style: dashed,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
  @include messageContainer(
    var(--pass-background),
    var(--pass-border),
    var(--pass-text)
  );
  @include flex-width-container;
}

.warning-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--warning-border),
      margin-bottom: 0,
      padding: 1em,
    ),
    true
  );
}

.warning-message-9927845 {
  @include important-styles(
    (
      border-width: 2px,
      border-style: dashed,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
  @include messageContainer(
    var(--warning-background),
    var(--warning-border),
    var(--warning-text)
  );
  @include flex-width-container;
}

.invalid-9927845,
[data-isNestedList] {
  @include important-styles(
    (
      border: 2px dashed var(--danger-border),
      margin-bottom: 0,
      padding: 1em,
    ),
    true
  );
}

.invalid-message-9927845 {
  @include important-styles(
    (
      border-width: 2px,
      border-style: dashed,
      margin-left: 1em,
      padding: 1em,
    ),
    true
  );
  @include messageContainer(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
  @include flex-width-container;
}
