.dimensions {
  width: 40em;
  height: auto;
  min-height: 8em;
  font-size: 1rem;
}

.dimensions p {
  margin-right: 8em;
  line-height: 1.5;
}

.help-section-7726536 {
  margin:0;
  font-size: 0.875rem;
}

.dimensions p.help-section-7726536,
.dimensions p.help-check-77265 {
  margin-right:0;
  margin-bottom:0;
  font-size: 0.875rem;
}

.dimensions p.help-section-7726536{
  margin-bottom: 1em;
}

.the--icon img {
  width: 8em;
  position: absolute;
  right: 0;
  top: 0.5em; 
}

.column--container-299867 {
  column-count: 1;
}

.column--container-299867.multi-column--container-299867 {
  column-count: 2;
  column-gap: 10px;
}

h1 {
  font-size: 1.8rem !important;
  margin-bottom: 1em !important;
}

ul {
  list-style: none !important;
  padding-left: 0 !important;
}

fieldset {
  margin: 1em !important;
  border: 1px solid #539312 !important;
}

fieldset>legend {
  font-size: 1.1em !important;
  color: #539312 !important;
}

.clearAllOptions {
  background-color: #FFFFFF !important;
  border: 1px solid #222222 !important;
  border-radius: 8px !important;
  box-sizing: border-box !important;
  color: #222222 !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  margin: 0 !important;
  margin-top: 1em !important;
  outline: none !important;
  padding: 0.5em 1em !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s !important;
  width: auto !important;
}

.clearAllOptions:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px !important;
  transition: box-shadow .2s !important;
}

.clearAllOptions:active {
  background-color: #F7F7F7 !important;
  border-color: #000000 !important;
  transform: scale(.96) !important;
}

.button-23:disabled {
  border-color: #DDDDDD !important;
  color: #DDDDDD !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}

.switch--label-88947 {
  font-weight: 600;
}