:root {
  --purple-900: #4338ca;
  --purple-700: #5941a9;
  --purple-500: #7b61c4;
  --purple-300: #a886e5;
  --purple-100: #d3beff;
  --white-help: #ffffff;
  --black-help: #262626;
}

body {
  font-family: Aptos, Bierstadt, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height:1.5;
}

.dimensions {
  width: 40em;
  height: auto;
  min-height: 8em;
  font-size: 1rem;
}

.dimensions p {
  margin-right: 8em;
  line-height: 1.5;
}

.help-section-7726536 {
  margin: 0;
  font-size: 0.875rem;
}

.dimensions p.help-section-7726536,
.dimensions p.help-check-77265 {
  margin-right: 0;
  margin-bottom: 0;
  font-size: 0.875rem;
}

.dimensions p.help-section-7726536 {
  margin-bottom: 1em;
}

.the--icon img {
  width: 8em;
  position: absolute;
  right: 0.2em;
  top: 0.35em;
  z-index: 10000;
}

.column--container-299867 {
  column-count: 1;
}

.column--container-299867.multi-column--container-299867 {
  column-count: 2;
  column-gap: 10px;
}

h1 {
  font-size: 1.8rem !important;
  margin-bottom: 1em !important;
}

ul {
  list-style: none !important;
  padding-left: 0 !important;
}

fieldset {
  margin: 1em !important;
  border: 1px solid #539312 !important;
}

fieldset > legend {
  font-size: 1.1em !important;
  color: #539312 !important;
}

.button-23:disabled {
  border-color: #dddddd !important;
  color: #dddddd !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}

.switch--label-88947 {
  font-weight: 600;
}

.help-link {
  display: inline-flex;
  color: var(--neutral-text);
}

.help-link::before {
  content: url("/extension/ui/images/help-icon.svg");
  display: inline-block;
  margin-right: 4px;
}

.check-all-wrapper-7786978 {
  margin: 1em;
}

.help-icon-link {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.help-icon-link svg {
  width: 20px;
  height: 20px;
}