body {
  font-family: arial, helvetica, vedana, sans-serif !important;
  font-size: 100% !important;
}
.dimensions {
  width: 30em !important;
  height: auto !important;
  font-size: 1rem !important;
}

.column--container-299867 {
  column-count: 1;
}

.column--container-299867.multi-column--container-299867 {
  column-count: 2;
  column-gap: 10px;
}

h1 {
  font-size: 1.8rem !important;
  margin-bottom: 1em !important;
}

.the--icon img {
  width: 8em !important;
  position: absolute !important;
  right: 0.5em !important;
  top: 0.5em !important;
    width: 10em;
    position: absolute;
    right: 0.5em;
    top: 1.5em;
    z-index: 10;
}

ul {
  list-style: none !important;
  padding-left: 0 !important;
}

fieldset {
  margin: 1em !important;
  border: 1px solid #539312 !important;
}

fieldset>legend {
  font-size: 1.1em !important;
  color: #539312 !important;
}

.clearAllOptions {
  background-color: #FFFFFF !important;
  border: 1px solid #222222 !important;
  border-radius: 8px !important;
  box-sizing: border-box !important;
  color: #222222 !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
  margin: 0 !important;
  margin-top: 1em !important;
  outline: none !important;
  padding: 0.5em 1em !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s !important;
  width: auto !important;
}

.clearAllOptions:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px !important;
  transition: box-shadow .2s !important;
}

.clearAllOptions:active {
  background-color: #F7F7F7 !important;
  border-color: #000000 !important;
  transform: scale(.96) !important;
}

.button-23:disabled {
  border-color: #DDDDDD !important;
  color: #DDDDDD !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}