ul {
  list-style: none;
  padding-left: 0;
}

.toggle-label {
  font-size: 1.1em;
  position: relative;
}

.toggle-all-options { 
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #262626;
  transition: background-color ease 0.3s;
  top: 0.8em;
}

.toggle-all-options::before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: 700;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgb(0 0 0 / 15%);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle-all-options:checked {
  background-color: #262626;
}

.toggle-all-options:checked::before {
  left: 32px;
}