ul:before {
    background-color: pink !important;
    content: "Unordered list" !important;
    color: #444444 !important;
    font-size: 1.2em !important;
    padding: 0 0.5em !important;
}

ol:before {
    background-color: aqua !important;
    content: "Ordered list" !important;
    color: #444444 !important;
    font-size: 1.2em !important;
    padding: 0 0.5em !important;
}

ol,
ul {
    border: 2px solid green !important
}