@import "../common";


.neutral-9927845 {
  @include font-styling;
  @include important-styles(
    (
      border: 2px dashed var(--neutral-border),
      margin: 1em 0,
      margin-bottom: 0,
    ),
    true
  );
}

.neutral-message-9927845 {
  @include font-styling;
  @include message-container(
    var(--neutral-background),
    var(--neutral-border),
    var(--neutral-text)
  );
  @include flex-width-container;

  font-weight: 700;
  margin: 0;
}

.top-left-container {
  position: absolute;
  max-width: 15em;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: var(--warning-background);
  border: 2px solid var(--warning-border);
  color: var(--warning-text);
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dismiss-button {
  background-color: var(--extension-white);
  color: var(--extension-black);
  border: 1px solid var(--neutral-border);
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--neutral-background);
  }
}