@import '../common';

// Mixin to encapsulate styles for the tags
@mixin apply-strong-styles($tagName) {
  &::before {
    content: "[" + $tagName + "]";

    @include important-styles(
      (
        color: var(--neutral-text),
        font-size: 0.875em,
        padding: 0 0.5em,
        font-weight: 700,
      ),
      true
    );
  }

  &::after {
    content: "[/" + $tagName + "]";

    @include important-styles(
      (
        color: var(--neutral-text),
        font-size: 0.875em,
        padding: 0 0.5em,
        font-weight: 700,
      ),
      true
    );
  }

  @include important-styles(
    (
      background-color: var(--neutral-background),
      border: 3px dashed var(--neutral-border),
    ),
    true
  );
}

// Apply styles to the tags
$tags: em, strong, small, s, cite, q, dfn, abbr, ruby, rt, rp, data, time, code,
var, samp, kbd, sub, sup, i, b, u, mark, bdi, bdo;

@each $tag in $tags {
  #{$tag} {
    @include apply-strong-styles(#{$tag});
  }
}

.check-summary-9927845 strong::before,
.check-summary-9927845 strong::after,
.reference-9927845 strong::before,
.reference-9927845 strong::after {
  @include important-styles((
      display:none,
    ),
    true);
}

.check-summary-9927845 strong,
.reference-9927845 strong {
  @include important-styles((
      border: none,
    ),
    true);
}

.check-paragraph-9927845 {
  @include important-styles(
    (
      border-bottom: 2px solid var(--neutral-border),
    ),
    true
  );
}