@import '../common';

@mixin aria-permitted-style($backgroundColor, $borderColor, $textColor) {
  display: block;
  width: auto;
  height: auto;
  position: relative;
  padding: 5px;
  z-index: 10000;
  background-color: $backgroundColor;
  color: $textColor;
  border: 3px solid $borderColor;
  font-size: .9rem;
  font-weight: 700;
  opacity: 1;
  content: 'aria-label="' attr(aria-label) '"';
}

div[aria-label][data-name-permitted-aria]:not([role])::before,
span[aria-label][data-name-permitted-aria]:not([role])::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="generic"][aria-label][data-name-permitted-aria]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="caption"][aria-label][data-name-permitted-aria]::before,
caption[aria-label][data-name-permitted-aria]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="deletion"][aria-label][data-name-permitted-aria]::before,
del[aria-label][data-name-permitted-aria]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="emphasis"][aria-label][data-name-permitted-aria]::before,
em[aria-label][data-name-permitted-aria]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="insertion"][aria-label][data-name-permitted-aria]::before,
ins[aria-label][data-name-permitted-aria]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="paragraph"][aria-label][data-name-permitted-aria]::before,
p[aria-label][data-name-permitted-aria]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="presentation"][aria-label][data-name-permitted-aria]::before,
[role="none"][aria-label][data-name-permitted-aria]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="strong"][aria-label][data-name-permitted-aria]::before,
strong[aria-label][data-name-permitted-aria]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="subscript"][aria-label][data-name-permitted-aria]::before,
sub[aria-label][data-name-permitted-aria]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="superscript"][aria-label][data-name-permitted-aria]::before,
sup[aria-label][data-name-permitted-aria]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

*[aria-label]:not(div, span, [role="generic"], [role="caption"], caption, [role="deletion"], del, [role="emphasis"], em, [role="insertion"], ins, [role="paragraph"], p, [role="presentation"], [role="none"], [role="strong"], strong, [role="subscript"], sub, [role="superscript"], sup)::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

[role="table"][aria-label][data-name-permitted-aria]::before,
sub[aria-label]::before {
  @include aria-permitted-style(var(--pass-background), var(--pass-border), var(--pass-text));
}

@mixin aria-prohibited-style($backgroundColor, $borderColor, $textColor) {
  @include important-styles((display: table,
      height: auto,
      width: auto,
      position: relative,
      padding: 1px 0,
      background-color: $backgroundColor,
      color: $textColor,
      border: 3px solid $borderColor,
      font-size: .9rem,
      font-weight: 700,
    ), true);
}

div[aria-label][data-name-permitted-aria][data-name-prohibited-aria]:not([role])::before,
span[aria-label][data-name-permitted-aria][data-name-prohibited-aria]:not([role])::before {
  @include aria-prohibited-style(var(--danger-background), var(--danger-border), var(--danger-text));

  content: "[Invalid] (aria-label=" attr(aria-label)") cannot be used on HTML element " attr(data-name-prohibited-aria) " ";
}

*[aria-label][data-name-permitted-aria][data-name-prohibited-aria]::before {
  @include aria-prohibited-style(var(--danger-background), var(--danger-border), var(--danger-text));

  content: "[Invalid] (aria-label=" attr(aria-label)") cannot be used on HTML element " attr(data-name-prohibited-aria) " ";
}

*[aria-label][data-name-permitted-aria][data-name-prohibited-html]::before {
  @include aria-prohibited-style(var(--danger-background), var(--danger-border), var(--danger-text));

  content: " [Invalid] (aria-label=" attr(aria-label)") cannot be used on HTML element " attr(data-name-prohibited-html) " ";
}

*[aria-labelledby][data-name-permitted-aria][data-name-prohibited-aria]::before {
  @include aria-prohibited-style(var(--danger-background), var(--danger-border), var(--danger-text));

  content: " [Invalid] aria-labelledby cannot be used on " attr(data-name-prohibited-aria) " ";
}

*[aria-labelledby][data-name-permitted-aria][data-name-prohibited-html]::before {
  @include aria-prohibited-style(var(--danger-background), var(--danger-border), var(--danger-text));

  content: " [Invalid] aria-labelledby cannot be used on HTML element " attr(data-name-prohibited-html) " ";
}