@import "../common";

.valid-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--pass-border),
      margin: 1em 0,
      margin-bottom: 0,
    ),
    true
  );
}

.invalid-9927845 {
  @include important-styles(
    (
      border: 2px dashed var(--danger-border),
      margin: 1em 0,
      margin-bottom: 0,
    ),
    true
  );
}

.valid-message-9927845 {
  font-weight: 700;
  margin: 0;
  
  @include message-container(
    var(--pass-background),
    var(--pass-border),
    var(--pass-text)
  );
  @include flex-width-container;
}

.invalid-message-9927845 {
  font-weight: 700;
  margin: 0;
  
  @include message-container(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
  @include flex-width-container;
}

.numbered-square-9927845 {
  @include important-styles(
    (
      display: inline-block,
      width: 20px,
      height: 20px,
      text-align: center,
      font-weight:700,
      background-color: var(--neutral-text),
      color: var(--extension-white),
      border: 1px solid var(--neutral-border),
      border-radius: 1em,
      margin-left: .5em,
    ),
    true
  );
}