@import "../common";
@import "../scss-partial-overflow-hidden-hack";

@mixin common-style($backgroundColor, $borderColor, $textColor) {
  background-color: $backgroundColor !important;
  color: $textColor !important;
  border: 3px solid $borderColor !important;
  min-width:10em;
}

.valid-message-9927845 {
  @include common-style(
    var(--pass-background),
    var(--pass-border),
    var(--pass-text)
  );

  @include messageDisplayStyles;
}

.warning-message-9927845 {
  @include common-style(
    var(--warning-background),
    var(--warning-border),
    var(--warning-text)
  );

  @include messageDisplayStyles;
}

.invalid-message-9927845 {
  @include common-style(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );

  @include messageDisplayStyles;
}

.tips-message-9927845 {
  @include common-style(
    var(--neutral-background),
    var(--neutral-border),
    var(--neutral-text)
  );

  @include messageDisplayStyles;
}

.warning-for-valid-message-9927845 {
  @include common-style(
    var(--pass-background),
    var(--pass-border),
    var(--warning-text)
  );

  @include messageDisplayStyles;
}