.svg--hasName-882726654 {
  background: #c5edc5;
  border: 2px solid rgb(2, 112, 2);
  color: #262626;
}
.svg--nodecorative-noname-882726654 {
  background: #edc5c5;
  border: 2px solid rgb(157, 3, 8);
  color: rgb(157, 3, 8);
}
.non-imgRole-8228965 {
  border: 3px dashed rgb(102, 4, 102);
  color: rgb(102, 4, 102);
  font-weight: 700;
  padding: 0.2em;
  max-width: 9em;
}
