.svg--hasName-882726654 {
    background: #c5edc5;
    border: 2px solid rgb(2, 112, 2);
    bottom: 0.5em;
    color: #262626;
    font-size: 1rem;
    left: 0.5em;
    line-height: 1.5;
    opacity: 0.8;
    padding: 0.5em ;
    width: 12em;
    z-index: 10000;
}
.svg--nodecorative-noname-882726654 {
    background: #edc5c5;
    border: 2px solid rgb(157, 3, 8);
    bottom: 0.5em;
    color: rgb(157, 3, 8);
    font-size: 1rem;
    left: 0.5em;
    line-height: 1.5;
    opacity: 0.8;
    padding: 0.5em ;
    width: 12em;
    z-index: 10000;
}
.non-imgRole-8228965 {
border: 3px dashed rgb(102, 4, 102);
color:rgb(102, 4, 102);
font-weight:700;
padding:.2em;
max-width:9em;
}