@import '../common';
@import '../scss-partial-overflow-hidden-hack';

@mixin commonStyle($backgroundColor, $borderColor, $textColor) {
  background-color: $backgroundColor !important;
  color: $textColor !important;
  border: 3px solid $borderColor !important;
}

.svg--hasName-882726654,
.svg--hasAriaLabel-882726654,
.svg--ancestorAccessibleName-882726654,
.svg--hiddenAncestor-882726654 {
  @include commonStyle(
    var(--pass-background),
    var(--pass-border),
    var(--pass-text)
  );
}

.svg--nodecorative-noname-882726654 {
  @include commonStyle(
    var(--danger-background),
    var(--danger-border),
    var(--danger-text)
  );
}

.non-imgRole-8228965 {
  @include commonStyle(
    var(--warning-background),
    var(--warning-border),
    var(--warning-text)
  );
  font-weight: 700 !important;
  padding: 0.2em !important;
  max-width: 9em !important;
}
