@import '../common';

strong:before {
  content: "[strong]";
  @include important-styles(
    (
      color: var(--neutral-text),
      font-size: 0.875em,
      padding: 0 0.5em,
      font-weight: 700,
    ),
    true
  );
}

strong:after {
  content: "[/strong]";
  @include important-styles(
    (
      color: var(--neutral-text),
      font-size: 0.875em,
      padding: 0 0.5em,
      font-weight: 700,
    ),
    true
  );
}

strong {
  @include important-styles(
    (
      background-color: var(--neutral-background),
      border: 3px dashed var(--neutral-border),
    ),
    true
  );
}
