@import '../common';
@import '../scss-partial-overflow-hidden-hack';

.svg-hidden-ancestor-882726654 {
	@include important-styles((
	background-color: var(neutral-background),
	border: 2px solid var(neutral-border),
	bottom: 0.5em,
	color: var(neutral-text),
	font-size: 1rem,
	left: 0.5em,
	line-height: 1.5,
	padding: 0.5em,
	width: 12em,
	z-index: 2147483647,
	), true);
}