/* Custom CSS variables defining color codes */
:root {
  --extension-white: #fff;
  --extension-black: #262626;
  --danger-border: #d80b0b;
  --danger-background: #f8eaea;
  --danger-text: #410505;
  --warning-border: #f6581f;
  --warning-text: #221603;
  --warning-background: #f5e3c8;
  --pass-border: #1e830a;
  --pass-background: #def4db;
  --pass-text: #051901;
  --neutral-background: #e8e3f3;
  --neutral-border: #5941a9;
  --neutral-text: #07011c;
}

@mixin font-styling {
  font-family: Aptos, Bierstadt, "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

[data-a11y-wrapper-2edbc8ab],
[data-before-div-9f2dc5ea] {
  font-family: Aptos, Bierstadt, "Segoe UI", -apple-system, BlinkMacSystemFont,
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
}

/* Styling for a specific data attribute */
[data-a11y-wrapper-2edbc8ab] {
  border: none !important;
  display: flex !important;
  flex-direction: column !important;
  place-content: flex-start flex-start !important;
  padding: 0.5em !important;
  position: relative !important;
}

/* Styling for a common accessibility message */
.common-a11y-message-2edbc8ab {
  bottom: 0.5em !important;
  font-size: 1rem !important;
  left: 0.5em !important;
  line-height: 1.5 !important;
  padding: 0.5em !important;
  z-index: 100000 !important;
}

/* Styling for message container */
@mixin message-container($backgroundColor, $borderColor, $textColor) {
  @include important-styles(
    (
      background-color: $backgroundColor,
      color: $textColor,
      border: 3px solid $borderColor,
      font-size: 1rem,
      padding: 0.5em,
    ),
    true
  );
}

/* Mixin for applying warning styles */
@mixin warning-styles() {
  background-color: var(--warning-background) !important;
  color: var(--warning-text) !important;
  white-space: normal !important;
}

/* Mixin for applying pass/valid styles */
@mixin pass-styles() {
  background-color: var(--pass-background) !important;
  color: var(--pass-text) !important;
  white-space: normal !important;
}

/* Mixin for applying danger/Invalid styles */
@mixin danger-styles() {
  background-color: var(--danger-background) !important;
  color: var(--danger-text) !important;
  white-space: normal !important;
}

/* Mixin for applying neutral styles */
@mixin neutral-styles() {
  background-color: var(--neutral-background) !important;
  color: var(--neutral-text) !important;
  white-space: normal !important;
}

@mixin whiteSpace() {
  white-space: normal !important;
}

/* Mixin for applying styles with optional !important flag */
@mixin important-styles($styles, $important: false) {
  @each $property, $value in $styles {
    #{$property}: $value #{if($important, "!important", "")};
  }
}

// Define a mixin for container width
@mixin flex-width-container($max-width: 380px) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: $max-width;
  width: auto;
}

//Set a width on message containers
@mixin messageDisplayStyles {
  font-weight: 700 !important;
  padding: 0.2em !important;
  max-width: 30em !important;
}

/* Message Label styles */
// .messageLabelGeneric,
// .messageLabelaccName,
// .messageLabelKnowledge,
// .messageLabelManualConfirmation {
//   @include important-styles((color: var(--neutral-border)), true);
// }

.messageLabelValid {
  @include important-styles((color: var(--pass-border)), true);
  display:flex;
}

.messageLabelWarning {
  @include important-styles((color: var(--warning-border)), true);
  display:flex;
}

.messageLabelInvalid {
  @include important-styles((color: var(--danger-border)), true);
  display:flex;
}

.accNameMessageContainer.valid-message-9927845 {
  @include important-styles((border-color: var(--neutral-border)), true);
  display:flex;
}

.messageLabelManualConfirmation {
  @include important-styles((color: var(--neutral-border)), true);
  display:flex;
}

.top-right-container-9927845 {
  font-family: Aptos, Bierstadt, "Segoe UI", -apple-system, BlinkMacSystemFont,
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  position: fixed !important;
  max-width: 25em !important;
  top: 10px !important;
  right: 10px !important;
  background-color: var(--neutral-background) !important;
  border: 4px solid var(--warning-border) !important;
  padding: 1em !important;
  z-index: 2147483647 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  p {
    font-size: 1.2rem !important;
    line-height: 1.5 !important;
    margin-top: 0 !important;
  }
  p.message-heading-9927845 {
    font-size:1.5rem !important;
    margin-bottom:0.5em;
  }
}

.reference-container-9927845 {
  margin-top:1em !important;
  margin-bottom:0.8em !important;

  ul.reference-list-9927845 {
    font-size: 1.2rem !important;
    line-height: 1.5 !important;
    margin-left: 2em !important;
    margin-top: 0.5em !important;
    list-style: disc !important;
  }
  ul.reference-list-9927845 li a {
    text-decoration: underline !important;
  }
}

.dismiss-button-9927845 {
  color: var(--extension-white) !important;
  background-color: var(--neutral-border) !important;
  border: none !important;
  border-radius: 1em !important;
  margin-top: 1em !important;
  padding: 0.5em 1em !important;
  font-size: 1.1rem !important;
  font-weight:700 !important;
  transition: background-color 0.3s !important;
}

.dismiss-button-9927845:hover {
  background-color: var(--neutral-border) !important;
}

.dismiss-button-9927845:focus {
  outline: none !important;
}

.dismiss-button-9927845:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 3px var(--white), 0 0 0 5px var(--neutral-border) !important;
}

.hyperlinked-text-9927845 {
  @include important-styles(
    (
      display: block,
      margin-top: 1em,
      text-decoration: underline,
      color: var(--neutral-text),
    ),
    true
  );
}