/* Additional styling for a specific case */
[data-a11y-wrapper-2edbc8ab].position-absolute-00898 {
    border: 0 !important;
  }
  
  [data-a11y-wrapper-2edbc8ab].position-absolute-00898 > .common-a11y-message-2edbc8ab {
    position: absolute !important;
    bottom: 1.5em !important;
    width: 12em !important;
  }
